
.h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-115);
    text-transform: uppercase;
}

.h2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    line-height: var(--line-height-115);
    text-transform: uppercase;
}

.h3 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h3);
    line-height: var(--line-height-115);
    text-transform: uppercase;
}

.h4 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h4);
    line-height: var(--line-height-120);
}

.h5 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h4);
    line-height: var(--line-height-120);
    text-transform: uppercase;
}

.body-12 {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body1);
    line-height: var(--line-height-120);
    text-align: center;
}

.body-14 {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body2);
    line-height: var(--line-height-120);
    text-align: center;
}

.body-16 {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body3);
    line-height: var(--line-height-130);
}

.body-18-sb {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body4);
    line-height: var(--line-height-120);
    text-align: center;
}

.body-20 {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body5);
    line-height: var(--line-height-120);
    text-align: center;
}

.body-24-med {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body6);
    line-height: var(--line-height-120);
    text-align: center;
}

.bt1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body4);
    line-height: var(--line-height-120);
}

.color-black {
    color: var(--color-black-900);
}

.color-white {
    color: var(--color-white-900);
}

.color-purple {
    color: var(--color-purple-700);
}