.grade {
  display: flex;
  padding: 6px 10px;
  border-radius: 8px;
  background-color: var(--color-black-30);
  gap: 12px;
  align-items: center;
}

.grade :last-child {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--color-purple-600);
  color: var(--color-white-900);
}
