.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow: auto;
    padding: 40px 120px;
}



