.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white-900);

    z-index: 1;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px;
    width: 100%;
}

.navContainer {
    align-items: center;
    display: flex;
    gap: 42px
}

.buttonContainer {
    display: flex;
    gap: 26px;
    align-items: center;
}

